# 1.Check for Anagram

#### Loop method

In [3]:
str1 = "listen"
str2 = "silent"
is_anagram = True

for char in str1:
    if char not in str2:
        is_anagram = False
        break
for char in str2:
    if char not in str1:
        is_anagram = False
        break

print("Anagram:", is_anagram)

Anagram: True

#### Function without keyword:

In [4]:
def is_anagram_loop(s1, s2):
    if len(s1) != len(s2):
        return False
    for char in s1:
        if char not in s2:
            return False
    for char in s2:
        if char not in s1:
            return False
    return True

print("Anagram:", is_anagram_loop("listen", "silent"))

Anagram: True

#### Using keyword (sorted):

In [ ]:
str1 = "listen"
str2 = "silent"

if sorted(str1) == sorted(str2):
    print("Anagram: True")
else:
    print("Anagram: False")

# 2. Check for Palindrome

#### Loop only:

In [5]:
word = "level"
is_palindrome = True
for i in range(len(word)//2):
    if word[i] != word[-i-1]:
        is_palindrome = False
        break
print("Palindrome:", is_palindrome)

Palindrome: True

#### Function without keyword:

In [7]:
def is_palindrome_loop(word):
    for i in range(len(word)//2):
        if word[i] != word[-i-1]:
            return False
    return True

print("Palindrome:", is_palindrome_loop("level"))

Palindrome: True

#### Using keyword ([::-1]):

In [8]:
word = "level"
print("Palindrome:", word == word[::-1])

Palindrome: True

# 3. Prime or Not :

#### Loop only:

In [10]:
num = 7
is_prime = True
if num <= 1:
    is_prime = False
else:
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
print("Prime:", is_prime)

Prime: True

#### Function without keyword:

In [9]:
def is_prime_loop(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

print("Prime:", is_prime_loop(7))

Prime: True

#### Using keyword (any):

In [11]:
num = 7
print("Prime:", num > 1 and not any(num % i == 0 for i in range(2, num)))

Prime: True

# 4.Fibonacci Series

#### Loop only:

In [12]:
n = 5
a, b = 0, 1
print("Fibonacci:", end=" ")
for i in range(n):
    print(a, end=" ")
    c = a + b
    a = b
    b = c

Fibonacci: 0 1 1 2 3

#### Function without keyword:

In [13]:
def fibonacci_loop(n):
    a, b = 0, 1
    for i in range(n):
        print(a, end=" ")
        a, b = b, a + b

fibonacci_loop(5)

0 1 1 2 3

#### Using keyword (yield generator):

In [14]:
def fibonacci_gen(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

print("Fibonacci:", list(fibonacci_gen(5)))

Fibonacci: [0, 1, 1, 2, 3]

# 5. Find Max and Min:

#### Loop only:

In [15]:
nums = [4, 2, 8, 1, 6]
max_num = nums[0]
min_num = nums[0]

for num in nums:
    if num > max_num:
        max_num = num
    if num < min_num:
        min_num = num

print("Max:", max_num)
print("Min:", min_num)

Max: 8
Min: 1

#### Function without keyword:

In [16]:
def find_max_min(nums):
    max_num = nums[0]
    min_num = nums[0]
    for num in nums:
        if num > max_num:
            max_num = num
        if num < min_num:
            min_num = num
    return max_num, min_num

print("Max, Min:", find_max_min([4, 2, 8, 1, 6]))

Max, Min: (8, 1)

#### Using keyword (max, min):

In [17]:
nums = [4, 2, 8, 1, 6]
print("Max:", max(nums))
print("Min:", min(nums))

Max: 8
Min: 1

# 6. Find 2nd Largest and 2nd Smallest:

#### Loop only:

In [18]:
nums = [4, 2, 8, 1, 6]

# Find largest and smallest first
largest = smallest = nums[0]
for num in nums:
    if num > largest:
        largest = num
    if num < smallest:
        smallest = num

# Initialize second largest and smallest
second_largest = second_smallest = None

for num in nums:
    if num != largest:
        if second_largest is None or num > second_largest:
            second_largest = num
    if num != smallest:
        if second_smallest is None or num < second_smallest:
            second_smallest = num

print("Second Largest:", second_largest)
print("Second Smallest:", second_smallest)

Second Largest: 6
Second Smallest: 2

#### Function without keyword:

In [19]:
def second_largest_smallest(nums):
    largest = smallest = nums[0]
    for num in nums:
        if num > largest:
            largest = num
        if num < smallest:
            smallest = num

    second_largest = second_smallest = None
    for num in nums:
        if num != largest:
            if second_largest is None or num > second_largest:
                second_largest = num
        if num != smallest:
            if second_smallest is None or num < second_smallest:
                second_smallest = num
    return second_largest, second_smallest

print("Second Largest, Second Smallest:", second_largest_smallest([4, 2, 8, 1, 6]))

Second Largest, Second Smallest: (6, 2)

#### Using keyword (sorted):

In [20]:
nums = [4, 2, 8, 1, 6]
nums_sorted = sorted(nums)
print("Second Largest:", nums_sorted[-2])
print("Second Smallest:", nums_sorted[1])

Second Largest: 6
Second Smallest: 2

# 7. Sort in Ascending and Descending Order:

#### Loop only:

In [21]:
nums = [4, 2, 8, 1, 6]
# Bubble Sort Ascending
for i in range(len(nums)):
    for j in range(0, len(nums)-i-1):
        if nums[j] > nums[j+1]:
            nums[j], nums[j+1] = nums[j+1], nums[j]
print("Ascending:", nums)

# Bubble Sort Descending
for i in range(len(nums)):
    for j in range(0, len(nums)-i-1):
        if nums[j] < nums[j+1]:
            nums[j], nums[j+1] = nums[j+1], nums[j]
print("Descending:", nums)

Ascending: [1, 2, 4, 6, 8]
Descending: [8, 6, 4, 2, 1]

#### Function without keyword:

In [22]:
def bubble_sort(nums, ascending=True):
    nums = nums[:]  # Copy list
    for i in range(len(nums)):
        for j in range(0, len(nums)-i-1):
            if (ascending and nums[j] > nums[j+1]) or (not ascending and nums[j] < nums[j+1]):
                nums[j], nums[j+1] = nums[j+1], nums[j]
    return nums

print("Ascending:", bubble_sort([4, 2, 8, 1, 6]))
print("Descending:", bubble_sort([4, 2, 8, 1, 6], ascending=False))

Ascending: [1, 2, 4, 6, 8]
Descending: [8, 6, 4, 2, 1]

#### Using keyword (sorted, reverse):

In [23]:
nums = [4, 2, 8, 1, 6]
print("Ascending:", sorted(nums))
print("Descending:", sorted(nums, reverse=True))

Ascending: [1, 2, 4, 6, 8]
Descending: [8, 6, 4, 2, 1]

# 8. Count Vowels and Consonants:

#### Loop only:

In [24]:
text = "Hello World"
vowels = "aeiouAEIOU"
v_count = c_count = 0

for ch in text:
    if ch.isalpha():
        if ch in vowels:
            v_count += 1
        else:
            c_count += 1

print("Vowels:", v_count)
print("Consonants:", c_count)

Vowels: 3
Consonants: 7

#### Function without keyword:

In [25]:
def count_vowels_consonants(text):
    vowels = "aeiouAEIOU"
    v_count = c_count = 0
    for ch in text:
        if ch >= 'A' and ch <= 'Z' or ch >= 'a' and ch <= 'z':
            if ch in vowels:
                v_count += 1
            else:
                c_count += 1
    return v_count, c_count

print("Vowels, Consonants:", count_vowels_consonants("Hello World"))

Vowels, Consonants: (3, 7)

#### Using keyword (isalpha):

In [26]:
text = "Hello World"
vowels = "aeiouAEIOU"
v_count = sum(1 for ch in text if ch.isalpha() and ch in vowels)
c_count = sum(1 for ch in text if ch.isalpha() and ch not in vowels)
print("Vowels:", v_count)
print("Consonants:", c_count)

Vowels: 3
Consonants: 7

# 9. Sum of Digits:

#### Loop only:

In [ ]:
num = 1234
sum_digits = 0
while num > 0:
    sum_digits += num % 10
    num //= 10
print("Sum of digits:", sum_digits)

#### Function without keyword:

In [27]:
def sum_of_digits(num):
    total = 0
    while num > 0:
        total += num % 10
        num //= 10
    return total

print("Sum of digits:", sum_of_digits(1234))

Sum of digits: 10

#### Using keyword (sum and str):

In [28]:
num = 1234
print("Sum of digits:", sum(int(d) for d in str(num)))

Sum of digits: 10

# 10. Factorial:

#### Loop only:

In [29]:
num = 5
fact = 1
for i in range(1, num+1):
    fact *= i
print("Factorial:", fact)

Factorial: 120

#### Function without keyword:

In [30]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

print("Factorial:", factorial(5))

Factorial: 120

 ####  Using keyword (math.factorial):

In [31]:
import math
print("Factorial:", math.factorial(5))

Factorial: 120

# 11. Check Even or Odd

#### Loop only:

In [32]:
num = 7
result = "Even"
if num % 2 != 0:
    result = "Odd"
print("Result:", result)

Result: Odd

#### Function without keyword:

In [33]:
def even_or_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

print("Result:", even_or_odd(7))

Result: Odd

#### Using keyword (if still):

In [34]:
num = 7
print("Result:", "Even" if num % 2 == 0 else "Odd")

Result: Odd

# 12. Largest of Three Numbers:

In [ ]:
#### Loop only:

In [35]:
a, b, c = 5, 8, 3
largest = a
if b > largest:
    largest = b
if c > largest:
    largest = c
print("Largest:", largest)

Largest: 8

#### Function without keyword:

In [36]:
def largest_of_three(a, b, c):
    largest = a
    if b > largest:
        largest = b
    if c > largest:
        largest = c
    return largest

print("Largest:", largest_of_three(5, 8, 3))

Largest: 8

#### Using keyword (max):

In [37]:
a, b, c = 5, 8, 3
print("Largest:", max(a, b, c))

Largest: 8

# 13. Count Frequency of Elements in List:

#### Loop only:

In [38]:
lst = [1, 2, 2, 3, 1, 1]
freq = []
unique = []

for item in lst:
    if item not in unique:
        unique.append(item)
        count = 0
        for i in lst:
            if i == item:
                count += 1
        freq.append((item, count))

print("Frequency:", freq)

Frequency: [(1, 3), (2, 2), (3, 1)]

#### Function without keyword:

In [39]:
def count_frequency(lst):
    freq = []
    unique = []
    for item in lst:
        if item not in unique:
            unique.append(item)
            count = 0
            for i in lst:
                if i == item:
                    count += 1
            freq.append((item, count))
    return freq

print("Frequency:", count_frequency([1, 2, 2, 3, 1, 1]))

Frequency: [(1, 3), (2, 2), (3, 1)]

#### Using keyword (collections.Counter):

In [40]:
from collections import Counter
lst = [1, 2, 2, 3, 1, 1]
print("Frequency:", dict(Counter(lst)))

Frequency: {1: 3, 2: 2, 3: 1}

# 14. Reverse a String:

#### Loop only:

In [41]:
s = "hello"
rev = ""
for ch in s:
    rev = ch + rev
print("Reversed:", rev)

Reversed: olleh

#### Function without keyword:

In [42]:
def reverse_string(s):
    rev = ""
    for ch in s:
        rev = ch + rev
    return rev

print("Reversed:", reverse_string("hello"))

Reversed: olleh

####  Using keyword ([::-1]):

In [43]:
s = "hello"
print("Reversed:", s[::-1])

Reversed: olleh

# 15. Check Armstrong Number:

#### Loop only:

In [44]:
num = 153
n = num
digits = 0
temp = n
while temp > 0:
    digits += 1
    temp //= 10

sum_pow = 0
temp = n
while temp > 0:
    digit = temp % 10
    p = 1
    for i in range(digits):
        p *= digit
    sum_pow += p
    temp //= 10

print("Armstrong:", sum_pow == num)

Armstrong: True

#### Function without keyword:

In [45]:
def is_armstrong(num):
    n = num
    digits = 0
    temp = n
    while temp > 0:
        digits += 1
        temp //= 10
    sum_pow = 0
    temp = n
    while temp > 0:
        digit = temp % 10
        p = 1
        for i in range(digits):
            p *= digit
        sum_pow += p
        temp //= 10
    return sum_pow == num

print("Armstrong:", is_armstrong(153))

Armstrong: True

#### Using keyword (pow):

In [46]:
num = 153
digits = len(str(num))
sum_pow = sum(int(d)**digits for d in str(num))
print("Armstrong:", sum_pow == num)

Armstrong: True

# 16. Multiplication Table:

#### Loop only:

In [47]:
num = 5
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#### Function without keyword:

In [48]:
def multiplication_table(num):
    for i in range(1, 11):
        print(num, "x", i, "=", num * i)

multiplication_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#### Using keyword (f-string for format):

In [49]:
num = 5
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 17. Remove Duplicates from List;

#### Loop only:

In [50]:
lst = [1, 2, 2, 3, 1, 4]
unique = []
for item in lst:
    if item not in unique:
        unique.append(item)
print("Unique:", unique)

Unique: [1, 2, 3, 4]

#### Function without keyword:

In [2]:
def remove_duplicates(lst):
    unique = []
    for item in lst:
        if item not in unique:
            unique.append(item)
    return unique

print("Unique:", remove_duplicates([1, 2, 2, 3, 1, 4]))

Unique: [1, 2, 3, 4]

####  Using keyword (set):

In [52]:
lst = [1, 2, 2, 3, 1, 4]
print("Unique:", list(set(lst)))

Unique: [1, 2, 3, 4]

# 18. Merge and Sort Two Lists:

#### Loop only:

In [53]:
a = [3, 1]
b = [2, 4]
merged = []
for item in a:
    merged.append(item)
for item in b:
    merged.append(item)

# Bubble sort
for i in range(len(merged)):
    for j in range(0, len(merged)-i-1):
        if merged[j] > merged[j+1]:
            merged[j], merged[j+1] = merged[j+1], merged[j]

print("Merged & Sorted:", merged)

Merged & Sorted: [1, 2, 3, 4]

#### Function without keyword:

In [54]:
def merge_sort_lists(a, b):
    merged = []
    for item in a:
        merged.append(item)
    for item in b:
        merged.append(item)
    for i in range(len(merged)):
        for j in range(0, len(merged)-i-1):
            if merged[j] > merged[j+1]:
                merged[j], merged[j+1] = merged[j+1], merged[j]
    return merged

print("Merged & Sorted:", merge_sort_lists([3, 1], [2, 4]))

Merged & Sorted: [1, 2, 3, 4]

#### Using keyword (+ and sorted):

In [55]:
a = [3, 1]
b = [2, 4]
print("Merged & Sorted:", sorted(a + b))

Merged & Sorted: [1, 2, 3, 4]

#  19. Celsius to Fahrenheit:

#### Loop only:

In [56]:
c = 37
f = (c * 9/5) + 32
print("Fahrenheit:", f)

Fahrenheit: 98.6

#### Function without keyword:

In [57]:
def c_to_f(c):
    return (c * 9/5) + 32

print("Fahrenheit:", c_to_f(37))

Fahrenheit: 98.6

#### Using keyword (no real shortcut):

In [58]:
c = 37
print("Fahrenheit:", f"{(c * 9/5) + 32}")

Fahrenheit: 98.6

# 20. Check Leap Year:

#### Loop only:

In [59]:
year = 2024
is_leap = False
if year % 4 == 0:
    if year % 100 != 0:
        is_leap = True
    elif year % 400 == 0:
        is_leap = True
print("Leap Year:", is_leap)

Leap Year: True

#### Function without keyword:

In [60]:
def is_leap_year(year):
    if year % 4 == 0:
        if year % 100 != 0:
            return True
        elif year % 400 == 0:
            return True
    return False

print("Leap Year:", is_leap_year(2024))

Leap Year: True

####  Using keyword (calendar):

In [61]:
import calendar
print("Leap Year:", calendar.isleap(2024))

Leap Year: True

#  21. Find Common Elements Between Two Lists:

#### Loop only:

In [62]:
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
common = []
for i in a:
    for j in b:
        if i == j and i not in common:
            common.append(i)
print("Common:", common)

Common: [3, 4]

#### Function without keyword:

In [63]:
def common_elements(a, b):
    common = []
    for i in a:
        for j in b:
            if i == j and i not in common:
                common.append(i)
    return common

print("Common:", common_elements([1, 2, 3, 4], [3, 4, 5, 6]))

Common: [3, 4]

####  Using keyword (set):

In [64]:
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
print("Common:", list(set(a) & set(b)))

Common: [3, 4]

#  22. Calculate Area of Circle:

#### Loop only:

In [65]:
radius = 5
pi = 3.14159
area = pi * radius * radius
print("Area:", area)

Area: 78.53975

#### Function without keyword:

In [66]:
def area_circle(r):
    pi = 3.14159
    return pi * r * r

print("Area:", area_circle(5))

Area: 78.53975

####  Using keyword (math.pi):

In [67]:
import math
radius = 5
print("Area:", math.pi * radius ** 2)

Area: 78.53981633974483

#  23. Positive, Negative or Zero:

#### Loop only:

In [68]:
num = -5
if num > 0:
    result = "Positive"
elif num < 0:
    result = "Negative"
else:
    result = "Zero"
print("Result:", result)

Result: Negative

#### Function without keyword:

In [69]:
def check_number(num):
    if num > 0:
        return "Positive"
    elif num < 0:
        return "Negative"
    else:
        return "Zero"

print("Result:", check_number(-5))

Result: Negative

####  Using keyword (ternary):

In [70]:
num = -5
print("Result:", "Positive" if num > 0 else "Negative" if num < 0 else "Zero")

Result: Negative

#  24. Remove Punctuation from String

#### Loop only:

In [71]:
text = "Hello, World!"
clean = ""
for ch in text:
    if not (ch in ".,!?"):
        clean += ch
print("Clean:", clean)

Clean: Hello World

#### Function without keyword:

In [72]:
def remove_punct(text):
    punct = ".,!?;:'\""
    clean = ""
    for ch in text:
        if ch not in punct:
            clean += ch
    return clean

print("Clean:", remove_punct("Hello, World!"))

Clean: Hello World

#### Using keyword (string.punctuation):

In [73]:
import string
text = "Hello, World!"
print("Clean:", ''.join(ch for ch in text if ch not in string.punctuation))

Clean: Hello World

# 25. Convert Decimal to Binary:

#### Loop only:

In [74]:
num = 10
binary = ""
n = num
while n > 0:
    binary = str(n % 2) + binary
    n //= 2
print("Binary:", binary)

Binary: 1010

#### Function without keyword:

In [76]:
def dec_to_bin(num):
    binary = ""
    while num > 0:
        binary = str(num % 2) + binary
        num //= 2
    return binary

print("Binary:", dec_to_bin(10))

Binary: 1010

#### Using keyword (bin):

In [77]:
num = 10
print("Binary:", bin(num)[2:])

Binary: 1010

# 26. Sum of All Elements in List:

#### Loop only:

In [78]:
lst = [1, 2, 3, 4]
total = 0
for i in lst:
    total += i
print("Sum:", total)

Sum: 10

#### Function without keyword:

In [79]:
def sum_list(lst):
    total = 0
    for i in lst:
        total += i
    return total

print("Sum:", sum_list([1, 2, 3, 4]))

Sum: 10

####  Using keyword (sum):

In [80]:
lst = [1, 2, 3, 4]
print("Sum:", sum(lst))

Sum: 10

# 27. Calculate Power Without Using **:

#### Loop only:

In [81]:
base = 2
exp = 3
result = 1
for i in range(exp):
    result *= base
print("Power:", result)

Power: 8

#### Function without keyword:

In [82]:
def power(base, exp):
    result = 1
    for i in range(exp):
        result *= base
    return result

print("Power:", power(2, 3))

Power: 8

#### Using keyword (pow):

In [83]:
print("Power:", pow(2, 3))

Power: 8

# 28. Check if All Characters are Unique:

#### Loop only:

In [84]:
s = "abcde"
unique = True
for i in range(len(s)):
    for j in range(i+1, len(s)):
        if s[i] == s[j]:
            unique = False
            break
print("Unique:", unique)

Unique: True

#### Function without keyword:

In [85]:
def all_unique(s):
    for i in range(len(s)):
        for j in range(i+1, len(s)):
            if s[i] == s[j]:
                return False
    return True

print("Unique:", all_unique("abcde"))

Unique: True

#### Using keyword (set):

In [86]:
s = "abcde"
print("Unique:", len(set(s)) == len(s))

Unique: True

#  29. Find Length of List Without len():

#### Loop only:

In [87]:
lst = [1, 2, 3, 4]
count = 0
for _ in lst:
    count += 1
print("Length:", count)

Length: 4

#### Function without keyword:

In [88]:
def list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

print("Length:", list_length([1, 2, 3, 4]))

Length: 4

####  Using keyword (len):

In [89]:
lst = [1, 2, 3, 4]
print("Length:", len(lst))

Length: 4

# 30. Check if List is Palindrome

#### Loop only:

In [90]:
lst = [1, 2, 3, 2, 1]
is_palindrome = True
for i in range(len(lst)//2):
    if lst[i] != lst[-i-1]:
        is_palindrome = False
        break
print("Palindrome:", is_palindrome)

Palindrome: True

#### Function without keyword:

In [91]:
def list_palindrome(lst):
    for i in range(len(lst)//2):
        if lst[i] != lst[-i-1]:
            return False
    return True

print("Palindrome:", list_palindrome([1, 2, 3, 2, 1]))

Palindrome: True

####  Using keyword ([::-1]):

In [93]:
lst = [1, 2, 3, 2, 1]
print("Palindrome:", lst == lst[::-1])

Palindrome: True

# 31. Validate PAN Format (5 uppercase + 4 digits + 1 uppercase):

#### Loop only:

In [94]:
pan = "ABCDE1234F"
valid = True

# Check length
if len(pan) != 10:
    valid = False
else:
    for i in range(5):
        if not ('A' <= pan[i] <= 'Z'):
            valid = False
            break
    for i in range(5, 9):
        if not ('0' <= pan[i] <= '9'):
            valid = False
            break
    if not ('A' <= pan[9] <= 'Z'):
        valid = False

print("Valid PAN:" , valid)

Valid PAN: True

#### Function without keyword:

In [95]:
def is_valid_pan(pan):
    if len(pan) != 10:
        return False
    for i in range(5):
        if not ('A' <= pan[i] <= 'Z'):
            return False
    for i in range(5, 9):
        if not ('0' <= pan[i] <= '9'):
            return False
    if not ('A' <= pan[9] <= 'Z'):
        return False
    return True

print("Valid PAN:", is_valid_pan("ABCDE1234F"))

Valid PAN: True

#### Using keyword (re regex):

In [96]:
import re
pan = "ABCDE1234F"
print("Valid PAN:", bool(re.match(r'^[A-Z]{5}[0-9]{4}[A-Z]$', pan)))

Valid PAN: True

# 32. Flatten Nested List

#### Loop only:

In [97]:
lst = [[1, 2], [3, 4], [5]]
flat = []
for sublist in lst:
    for item in sublist:
        flat.append(item)
print("Flattened:", flat)

Flattened: [1, 2, 3, 4, 5]

#### Function without keyword:

In [98]:
def flatten_list(lst):
    flat = []
    for sublist in lst:
        for item in sublist:
            flat.append(item)
    return flat

print("Flattened:", flatten_list([[1, 2], [3, 4], [5]]))

Flattened: [1, 2, 3, 4, 5]

####  Using keyword (sum for lists):

In [99]:
lst = [[1, 2], [3, 4], [5]]
print("Flattened:", sum(lst, []))

Flattened: [1, 2, 3, 4, 5]

# 33. Find All Palindromes in List

#### Loop only:

In [100]:
lst = [121, 133, 123, 88, 97]
palindromes = []
for num in lst:
    n = num
    rev = 0
    while n > 0:
        rev = rev * 10 + n % 10
        n //= 10
    if rev == num:
        palindromes.append(num)
print("Palindromes:", palindromes)

Palindromes: [121, 88]

#### Function without keyword:

In [101]:
def find_palindromes(lst):
    palindromes = []
    for num in lst:
        n = num
        rev = 0
        while n > 0:
            rev = rev * 10 + n % 10
            n //= 10
        if rev == num:
            palindromes.append(num)
    return palindromes

print("Palindromes:", find_palindromes([121, 133, 123, 88, 97]))

Palindromes: [121, 88]

####  Using keyword (str):

In [102]:
lst = [121, 133, 123, 88, 97]
print("Palindromes:", [x for x in lst if str(x) == str(x)[::-1]])

Palindromes: [121, 88]

# 34. Find Longest Word in Sentence:

#### Loop only:

In [103]:
sentence = "Python is fantastic and powerful"
words = sentence.split()
longest = words[0]
for word in words:
    count = 0
    for _ in word:
        count += 1
    l_count = 0
    for _ in longest:
        l_count += 1
    if count > l_count:
        longest = word
print("Longest:", longest)

Longest: fantastic

#### Function without keyword:

In [104]:
def longest_word(sentence):
    words = sentence.split()
    longest = words[0]
    for word in words:
        if len(word) > len(longest):
            longest = word
    return longest

print("Longest:", longest_word("Python is fantastic and powerful"))

Longest: fantastic

#### Using keyword (max with key):

In [105]:
sentence = "Python is fantastic and powerful"
print("Longest:", max(sentence.split(), key=len))

Longest: fantastic

# 35. Password Masker:

#### Loop only:

In [106]:
password = "mysecret"
masked = ""
for _ in password:
    masked += "*"
print("Masked:", masked)

Masked: ********

#### Function without keyword:

In [107]:
def mask_password(password):
    masked = ""
    for _ in password:
        masked += "*"
    return masked

print("Masked:", mask_password("mysecret"))

Masked: ********

#### Using keyword (len):

In [108]:
password = "mysecret"
print("Masked:", "*" * len(password))

Masked: ********

# 36. Simple Contact Book (Search):

#### Loop only:

In [109]:
contacts = {"Ravi": "9876543210", "Anu": "9911223344"}
name = "Anu"
number = None
for key in contacts:
    if key == name:
        number = contacts[key]
        break
print("Contact:", number)

Contact: 9911223344

#### Function without keyword:

In [110]:
def find_contact(contacts, name):
    for key in contacts:
        if key == name:
            return contacts[key]
    return None

print("Contact:", find_contact({"Ravi": "9876543210", "Anu": "9911223344"}, "Anu"))

Contact: 9911223344

####  Using keyword (get):

In [111]:
contacts = {"Ravi": "9876543210", "Anu": "9911223344"}
print("Contact:", contacts.get("Anu"))

Contact: 9911223344

#  37. Marks to Grade Conversion:

#### Loop only:

In [112]:
marks = [85, 40, 77, 92, 60]
grades = []
for m in marks:
    if m >= 80:
        grades.append('A')
    elif m >= 70:
        grades.append('B')
    elif m >= 60:
        grades.append('C')
    elif m >= 50:
        grades.append('D')
    elif m >= 40:
        grades.append('E')
    else:
        grades.append('F')
print("Grades:", grades)

Grades: ['A', 'E', 'B', 'A', 'C']

#### Function without keyword:

In [114]:
def marks_to_grades(marks):
    grades = []
    for m in marks:
        if m >= 80:
            grades.append('A')
        elif m >= 70:
            grades.append('B')
        elif m >= 60:
            grades.append('C')
        elif m >= 50:
            grades.append('D')
        elif m >= 40:
            grades.append('E')
        else:
            grades.append('F')
    return grades

print("Grades:", marks_to_grades([85, 40, 77, 92, 60]))

Grades: ['A', 'E', 'B', 'A', 'C']

####  Using keyword (map + lambda):

In [115]:
marks = [85, 40, 77, 92, 60]
grades = list(map(lambda m: 'A' if m >= 80 else 'B' if m >= 70 else 'C' if m >= 60 else 'D' if m >= 50 else 'E' if m >= 40 else 'F', marks))
print("Grades:", grades)

Grades: ['A', 'E', 'B', 'A', 'C']

# 38.Print following pattern in Python:                                                                                 *

#### *
#### ** 
#### ***
#### ****
#### *****

#### Loop only:

In [6]:
rows = 5
for i in range(1, rows + 1):
    line = ""
    for j in range(i):
        line += "*"
    print(line)

*
**
***
****
*****

#### Function without keyword:

In [7]:
def print_pattern(rows):
    for i in range(1, rows + 1):
        line = ""
        for j in range(i):
            line += "*"
        print(line)

print_pattern(5)

*
**
***
****
*****

####  Using keyword:

In [8]:
rows = 5
for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****